<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="shared-styles.html">

<link rel="lazy-import" href="my-app.html">

<dom-module id="my-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

  <h2>Este es mi login</h2>
    <paper-card image="http://getwallpapers.com/wallpaper/full/5/a/1/939733-full-size-crazy-cool-wallpapers-1920x1200.jpg">
      <div class="card-content">
        <div class="cafe-header">Cafe Basilico
          <div class="cafe-location cafe-light">
            <iron-icon icon="communication:location-on"></iron-icon>
            <span>250ft</span>
          </div>
        </div>

        <p>$・Italian, Cafe</p>
        <p class="cafe-light">Small plates, salads &amp; sandwiches in an intimate setting.</p>
        <iron-form>
              <form method="get" action="/form/handler">
                <input type="text" name="name" value="Batman">
                <input type="checkbox" name="donuts" checked> I like donuts<br>
              </form>
        </iron-form>

      </div>
      <div class="card-actions">
        <div class="horizontal justified">
          <paper-icon-button icon="icons:event"></paper-icon-button>
          <paper-button>5:30PM</paper-button>
          <paper-button>7:30PM</paper-button>
          <paper-button>9:00PM</paper-button>
          <paper-button class="cafe-reserve">Reserve</paper-button>
          <div align="center" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
          <div><a href="#" onclick="signOut();">Sign out</a></div>
        </div>
      </div>
    </paper-card>

  </template>

  <script>
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
    }

    //Google login functions. Added by RRH 30Sep
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        //window.location = "http://localhost:8081/src/global.html";
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        };

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
        }

    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>
