<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="shared-styles.html">

<link rel="lazy-import" href="my-app.html">


<dom-module id="my-login">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

  <h2>Este es mi login</h2>
    <paper-card image="http://getwallpapers.com/wallpaper/full/5/a/1/939733-full-size-crazy-cool-wallpapers-1920x1200.jpg">
      <iron-form id="loginForm">
              <form method="post" action="http://localhost:8081/test" headers="content-type:application/json">
                <h3>¡Bienvenido!</h3>
                <paper-input type="mail" name="user" label="Usuario" pattern="[a-z0-9A-Z._%+-A-Z]+@[a-z0-9.-]+\.[a-z]{2,3}$" required >
                  <iron-icon src="https://image.flaticon.com/icons/svg/126/126516.svg"></iron-icon>
                </paper-input>
                <paper-input type="password" name="password" label="Contraseña" required>
                  <iron-icon src="https://image.flaticon.com/icons/svg/1161/1161477.svg"></iron-icon>
                </paper-input>

                  <paper-button type="submit" align="right" onclick="submitForm(event)" raised>Inicia sesión</paper-button>

                  <div><a href="#" onclick="signOut();">Sign out</a></div>

              </form>
      </iron-form>

    </paper-card>

  </template>

  <script>
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
    }
    function submitForm(event) {
                Polymer.dom(event).localTarget.parentElement.submit();
            }
        //Google login functions. Added by RRH 30Sep
        function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        //window.location = "http://localhost:8081/src/global.html";
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        };

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
        }

    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>
