<!--
Shell para administrar el cambio de paginas entre login y My App. Done by RRH 02OCT2018
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="my-app.html">
<link rel="import" href="my-login.html">

<dom-module id="my-shell">
  <template>
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}"></app-route>

    <iron-pages selected="[[page]]" attr-for-selected="page" fallback-selection="login">
      <my-login page="login" session="{{session}}" route="{{routeData}}"></my-login>
      <my-app page="app" session="{{session}}" route="{{routeData}}"></my-app>
    </iron-pages>
  </template>

  <script>
    (function myShell(customElements) {
      'use strict';
      class MyShell extends Polymer.Element {
        static get is() { return 'my-shell'; }
        static get properties() {
          return {
            session: Boolean,
            routeData: Object,
            data: Object,
            page: String
          }
        }
        static get observers() {
          return [
            '_routePageChanged(routeData.page)'
          ];
        }
        _routePageChanged(page) {
          if (this.session){
            if (page) this.page = page;
              else this.page ='app';
          } else this.page = 'login';
        }
      }
      customElements.define(MyShell.is, MyShell);
    })(window.customElements);
  </script>
</dom-module>
